{
    "endpoint": "http://localhost:3000",
    "model": "llama2",
    "api_key": "",
    "api_type": "chat",
    "is_openwebui": true,
    "openai_compatibility": false,
    "extend_selection_max_tokens": 15000,
    "extend_selection_system_prompt": "",
    "edit_selection_max_new_tokens": 15000,
    "edit_selection_system_prompt": "",
    
    "_comment_telemetry": "Configuration de la télémétrie OpenTelemetry",
    "telemetryEnabled": true,
    "telemetryEndpoint": "https://traces.cpin.numerique-interieur.com/v1/traces",
    "telemetrySel": "mirai_salt",
    "telemetryAuthorizationType": "Basic",
    "telemetryKey": "",
    "_comment_telemetry_key": "Laisser vide pour utiliser la clé par défaut (obfusquée dans le code), ou fournir votre propre clé encodée en base64",
    "telemetryHost": "",
    "telemetrylogJson": false,
    "telemetryFormatProtobuf": false,
    
    "_comment_uuid": "UUID généré automatiquement au premier lancement",
    "extensionUUID": ""
}
